@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

.swiper {
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 100;
  width: 100%;
  padding: 1rem;
  margin-top: 20px;
}

.navbar .logo {
  margin-left: 130px;
}

.navbar .logo img {
  width: 225.67px;
  height: 56px;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin-right: 130px;
}

.navbar ul > li {
  padding-right: 2rem;
}

.navbar ul > li a:hover {
  text-decoration: underline;
}

.navbar ul a {
  text-decoration: none;
  color: white;
}

.navbar .search_logo img {
  width: 25px;
  height: 25px;
}

.swiper-wrapper {
  height: 750px;
}

.swiper-wrapper > .swiper-slide {
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.371);
  background-attachment: fixed;
  position: relative;
}

.swiper-wrapper > .slide_1 {
  background-image: url("../images/metrix_image6.jpg");
}

.swiper-wrapper > .slide_2 {
  background-image: url("../images/wallpaper2.jpg");
}

.swiper-wrapper > .slide_3 {
  background-image: url("../images/wallpaper3.jpg");
}

.swiper-slide .text_container h1 {
  font-weight: 600;
}

.swiper-slide .text_container {
  height: 300px;

  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.2);
  color: white;
  position: absolute;
  max-width: 783px;
  top: 229px;
  left: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swiper-slide .text_container .btn {
  width: 210px;
  height: 56px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide .text_container .btn a {
  text-decoration: none;
  color: white;
}

.swiper-slide .text_container .btn {
  background-color: #0094d9;
  transition: 200ms linear;
}

.swiper-slide .text_container .btn:hover {
  cursor: pointer;
  background-color: #00a6d9;
}
