@import "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap";
* {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

.red {
  border: 1px solid red;
}

.container_fluid {
  width: 100%;
}

.container {
  max-width: 1320px;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.menu_overlay {
  opacity: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: 88px;
  width: 100%;
  height: 100%;
  z-index: -99;
  transition: 0.3s;
}
.menu_overlay .nav_items {
  margin: 6rem 0 0 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.menu_overlay .nav_items .nav_item {
  transform: translateY(150px);
}
.menu_overlay .nav_items .nav_item:nth-child(1) {
  transition: 0.4s;
}
.menu_overlay .nav_items .nav_item:nth-child(2) {
  transition: 0.5s;
}
.menu_overlay .nav_items .nav_item:nth-child(3) {
  transition: 0.6s;
}
.menu_overlay .nav_items .nav_item:nth-child(4) {
  transition: 0.7s;
}
.menu_overlay .nav_items .nav_item:nth-child(5) {
  transition: 0.8s;
}
.menu_overlay .nav_items .nav_item a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  padding: 2rem;
  display: block;
  text-transform: uppercase;
  font-size: 1.5rem;
  transition: 0.3s;
}
.menu_overlay .nav_items .nav_item a:hover {
  transform: scale(1.3);
}

.search_overlay {
  opacity: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: 88px;
  width: 100%;
  height: 100%;
  z-index: -99;
  transition: 0.3s;
}
.search_overlay form {
  position: relative;
  width: 30rem;
  border-radius: 0.7rem;
  transition: 0.8s;
  transform: scale(0);
  padding: 2rem;
  margin-top: 200px;
}
.search_overlay form button {
  height: 5rem;
  border: 0;
  font-size: 1.8rem;
  display: none;
  position: absolute;
  color: white;
  top: 2rem;
  right: 2rem;
  width: 6rem;
  font-weight: 600;
  cursor: pointer;
  background-color: #0094d9;
  transition: 150ms ease-in-out;
  border-radius: 0 0.7rem 0.7rem 0;
}
.search_overlay form button:hover {
  background-color: #32a9e0;
}
.search_overlay form input[type=search] {
  outline: 0;
  width: 100%;
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.21), rgba(1, 1, 1, 0.5));
  border-bottom: 1px solid rgba(184, 184, 184, 0.202);
  color: white;
  padding: 0 1.6rem;
  border-radius: 0.7rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  font-size: 1.8rem;
  transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
  border: 1px solid rgba(184, 184, 184, 0.202);
}
.search_overlay form input[type=search]::-webkit-search-cancel-button {
  display: none;
}
.search_overlay form input[type=search]::-webkit-search-decoration {
  display: none;
}
.search_overlay form input[type=search]::-webkit-search-results-button {
  display: none;
}
.search_overlay form input[type=search]::-webkit-search-results-decoration {
  display: none;
}
.search_overlay form input {
  height: 5rem;
  border: 0;
  font-size: 1.8rem;
}
.search_overlay form input:not(:-moz-placeholder-shown) {
  border-radius: 0.7rem 0 0 0.7rem;
  width: calc(100% - 6rem);
}
.search_overlay form input:not(:placeholder-shown) {
  border-radius: 0.7rem 0 0 0.7rem;
  width: calc(100% - 6rem);
}
.search_overlay form input:not(:-moz-placeholder-shown) + button {
  display: block;
}
.search_overlay form input:not(:placeholder-shown) + button {
  display: block;
}
.search_overlay form label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.menu_overlay.show {
  z-index: 99;
  opacity: 1;
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.21), rgba(1, 1, 1, 0.5));
}
.menu_overlay.show .nav_items .nav_item {
  transform: translateY(0px);
}

.search_overlay.show {
  z-index: 99;
  opacity: 1;
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.21), rgba(1, 1, 1, 0.5));
}
.search_overlay.show form {
  margin-top: 150px;
  transform: scale(1);
}

.primary_nav_wrapper {
  position: absolute;
  z-index: 100;
  width: 100%;
  margin-top: 20px;
  position: fixed;
  transition: 0.3s;
}
.primary_nav_wrapper .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.primary_nav_wrapper .logo img {
  width: 190px;
}
.primary_nav_wrapper .nav_items {
  list-style: none;
  display: flex;
  margin-left: auto;
}
.primary_nav_wrapper .nav_items > .nav_item {
  align-self: center;
}
.primary_nav_wrapper .nav_items > .nav_item:not(:last-child) {
  padding-right: 2rem;
}
.primary_nav_wrapper .nav_items a {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 0.8rem;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: all 0.3s;
  position: relative;
}
.primary_nav_wrapper .nav_items a::after {
  transition: all 0.3s;
  content: ".";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  color: transparent;
  background: white;
  height: 1px;
}
.primary_nav_wrapper .nav_items a::before {
  transition: all 0.3s;
}
.primary_nav_wrapper .nav_items a:hover::after {
  width: 100%;
}
.primary_nav_wrapper .nav_items a:is(:link, :active, :visited).active::after {
  width: 100%;
}
.primary_nav_wrapper .search_btn {
  align-self: center;
  border: none;
  background: none;
  margin-left: 2rem;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.primary_nav_wrapper .search_btn:hover {
  background-color: rgba(0, 0, 0, 0.256);
  border: 1px solid rgba(184, 184, 184, 0.202);
  cursor: pointer;
}
.primary_nav_wrapper .search_btn img {
  width: 25px;
  height: 25px;
}
.primary_nav_wrapper .search_btn.active {
  background-color: rgba(0, 0, 0, 0.256);
  border: 1px solid rgba(184, 184, 184, 0.202);
  cursor: pointer;
}

.primary_nav_wrapper.sticky {
  margin-top: 0px;
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.21), rgba(1, 1, 1, 0.5));
  border-bottom: 1px solid rgba(184, 184, 184, 0.202);
}
.primary_nav_wrapper.sticky .primary_nav {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.primary_nav_wrapper.sticky_search {
  margin-top: 0px;
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.21), rgba(1, 1, 1, 0.5));
  border-bottom: 1px solid rgba(184, 184, 184, 0.202);
}

.primary_nav {
  margin: auto;
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding-bottom: 2rem;
  padding-top: 2rem;
  transition: 0.3s;
}

.hamburger_menu {
  display: none;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  align-self: center;
  cursor: pointer;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  row-gap: 6px;
  background: rgba(0, 0, 0, 0.256);
  border: 1px solid rgba(184, 184, 184, 0.202);
}
.hamburger_menu:hover .bar {
  background: white;
}
.hamburger_menu .bar {
  display: block;
  width: 25px;
  height: 2px;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  background-color: rgb(196, 196, 196);
}

.swiper-wrapper {
  height: 750px;
}
.swiper-wrapper > .swiper-slide {
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.522);
  background-attachment: fixed;
  position: relative;
}
.swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}
.swiper-wrapper > .slide_1 {
  background-image: url("../images/wallpaper1.jpg");
}
.swiper-wrapper > .slide_2 {
  background-image: url("../images/wallpaper2.jpg");
}
.swiper-wrapper > .slide_3 {
  background-image: url("../images/wallpaper3.jpg");
}

.slider_text_wrapper {
  width: 100%;
}

.swiper-slide .slider_text_area {
  height: 300px;
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.2);
  color: white;
  height: 100%;
}
.swiper-slide .slider_text_area .slider_caption {
  font-weight: 600;
  font-size: 36px;
  line-height: 56px;
  letter-spacing: 1.5px;
  margin-bottom: 2rem;
}
.swiper-slide .slider_text_area .slider_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1.5px;
}
.swiper-slide .slider_text_area .btn {
  width: 210px;
  height: 56px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background-color: #0094d9;
  transition: 150ms ease-in-out;
}
.swiper-slide .slider_text_area .btn a {
  text-decoration: none;
  color: white;
}
.swiper-slide .slider_text_area .btn:hover {
  background-color: #32a9e0;
}

.slider_text_container {
  max-width: 783px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swiper-pagination-bullets {
  margin-bottom: 2.5rem;
}
.swiper-pagination-bullets .swiper-pagination-bullet {
  --swiper-pagination-bullet-horizontal-gap: 6px;
  background-color: white;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: relative;
  opacity: 1;
  margin: var(--swiper-pagination-bullet-horizontal-gap);
}
.swiper-pagination-bullets .swiper-pagination-bullet-active::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid white;
  border-radius: 50%;
}

/* ========================================================= */
/* ==================== Footer ================= */
/* ========================================================= */
footer {
  background-color: #1e3556;
  padding: 4rem 0;
}

.footer_nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  border-bottom: 1px solid #d9d9d9;
}
.footer_nav .footer_links {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 4rem;
}
.footer_nav .footer_links a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
}
.footer_nav .footer_links a:hover {
  text-decoration: underline;
}
.footer_nav .footer_links.social {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.footer_nav .footer_links.social a {
  font-size: 2rem;
  transition: 0.2s;
}
.footer_nav .footer_links.social a:hover {
  color: #0094d9;
  transform: scale(1.1);
}

.footer_text {
  margin-top: 2rem;
  color: #acb1c4;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_text .copyright {
  text-align: center;
  flex: 1;
}
.footer_text .footer_logo {
  width: 150px;
  position: absolute;
  right: 0;
  top: 8%;
}

/* ========================= Media Queries ========================= */
/* =================== 1350px =================== */
@media screen and (max-width: 1350px) {
  .primary_nav_wrapper .nav_items {
    display: none;
  }
  .primary_nav_wrapper .search_btn {
    margin-left: auto;
  }
  .container {
    max-width: 950px;
  }
  .hamburger_menu {
    display: flex;
  }
  .hamburger_menu.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger_menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .hamburger_menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
}
/* =================== 1024px =================== */
@media screen and (max-width: 1024px) {
  .container {
    max-width: 800px;
  }
}
/* =================== 900px =================== */
@media screen and (max-width: 900px) {
  .search_overlay.show form {
    margin-top: 90px;
  }
  .container {
    max-width: 700px;
  }
  .swiper-wrapper > .slide_1 {
    background-position-x: right;
  }
  .primary_nav_wrapper .logo img {
    width: 150px;
  }
  .swiper-slide .slider_text_area .slider_caption {
    font-size: 30px;
    line-height: 46px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
  }
  .footer_text {
    flex-direction: column;
    row-gap: 4rem;
  }
  .footer_text .footer_logo {
    position: static;
  }
}
/* =================== 800px =================== */
@media screen and (max-width: 800px) {
  .container {
    max-width: 600px;
  }
  .swiper-slide .slider_text_area .slider_caption {
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
  }
}
/* =================== 600px HEIGHT =================== */
@media screen and (max-height: 600px) {
  .menu_overlay .nav_items .nav_item a {
    padding: 1.2rem;
  }
}
/* =================== 680px =================== */
@media screen and (max-width: 680px) {
  .container {
    max-width: 530px;
  }
  .menu_overlay {
    top: 73px;
  }
  .search_overlay {
    top: 73px;
  }
  .search_overlay form input {
    height: 3.5rem;
    border: 0;
    font-size: 1rem;
  }
  .search_overlay form input:not(:-moz-placeholder-shown) {
    border-radius: 0.7rem 0 0 0.7rem;
    width: calc(100% - 4rem);
  }
  .search_overlay form input:not(:placeholder-shown) {
    border-radius: 0.7rem 0 0 0.7rem;
    width: calc(100% - 4rem);
  }
  .search_overlay form button {
    height: 3.5rem;
    border: 0;
    font-size: 1rem;
    width: 4rem;
  }
  .search_overlay form input[type=search] {
    font-size: 1.2rem;
  }
  .primary_nav_wrapper .logo img {
    width: 130px;
  }
  .swiper-slide .slider_text_area .slider_caption {
    font-size: 23px;
    line-height: 30px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
  }
}
/* =================== 480px =================== */
@media screen and (max-width: 480px) {
  .swiper-slide .slider_text_area .slider_caption {
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
  }
}
/* =================== 410px =================== */
@media screen and (max-width: 410px) {
  .primary_nav_wrapper .logo img {
    width: 90px;
  }
  .primary_nav_wrapper .search_btn {
    width: 40px;
    height: 40px;
  }
  .primary_nav_wrapper .search_btn img {
    width: 18px;
    height: 18px;
  }
  .hamburger_menu {
    width: 40px;
    height: 40px;
  }
  .hamburger_menu .bar {
    width: 20px;
  }
  .swiper-slide .slider_text_area .slider_caption {
    font-size: 19px;
    letter-spacing: 0.5px;
    margin-bottom: 1rem;
  }
  .swiper-slide .slider_text_area .slider_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1.5px;
  }
}
/* =================== 350px =================== */
@media screen and (max-width: 350px) {
  .footer_nav .footer_links.social {
    display: flex;
    -moz-column-gap: 0.3rem;
         column-gap: 0.3rem;
  }
}
/* ========================================================= */
/* ==================== Services Section ================= */
/* ========================================================= */
.services_cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4rem 0;
  gap: 2rem;
}
.services_cards .card {
  border: 1px solid #dadada;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 230px;
  border-radius: 10px;
  transition: 0.3s;
  flex: 1 1 auto;
}
.services_cards .card:hover {
  transform: scale(1.03);
  border: 1px solid #0094d9;
}
.services_cards .card:hover .frame {
  transform: scale(1.2);
}
.services_cards .card a {
  display: block;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: #0094d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1.5px;
}
.services_cards .card a .text {
  display: block;
  min-height: 60px;
}
.services_cards .card .frame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 102px;
  height: 102px;
  border-radius: 50%;
  background-color: #fafafa;
  margin: 1rem;
  transition: 0.3s;
  border: 1px solid transparent;
}

/* ========================================================= */
/* ==================== Who we are? ================= */
/* ========================================================= */
.text_info_wrapper {
  position: relative;
  min-height: 535px;
  background-image: url("../images/biz_kimik.jpg");
  background-repeat: no-repeat;
  margin-bottom: 4rem;
}
.text_info_wrapper .text_container {
  position: absolute;
  height: 100%;
  max-width: 760px;
  top: 40px;
  left: 300px;
  transition: 0.3s;
}
.text_info_wrapper .text_container .caption {
  color: #0094d9;
  border-right: 12px solid #0094d9;
  text-align: right;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
}
.text_info_wrapper .text_container .caption span {
  display: block;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 2px;
  margin-right: 2rem;
}
.text_info_wrapper .text_container .descript {
  background-color: #fafafa;
  padding: 2rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 1.5px;
  border: 1px solid transparent;
  transition: 0.3s;
}
.text_info_wrapper:hover .text_container {
  transform: scale(1.03);
}
.text_info_wrapper:hover .text_container .descript {
  border: 1px solid #0094d9;
}

/* ========================================================= */
/* ==================== Video Section ================= */
/* ========================================================= */
.video_container {
  min-height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/video_images.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 4rem;
}
.video_container .play_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.31);
  width: 136px;
  height: 136px;
  border-radius: 50%;
  transition: 0.3s;
}
.video_container .play_wrapper:hover {
  transform: scale(1.2);
}
.video_container .fa-play {
  color: white;
}

/* ========================================================= */
/* ==================== Gallery Section ================= */
/* ========================================================= */
.swiper_blogs {
  margin-bottom: 4rem;
}
.swiper_blogs .swiper-wrapper {
  height: -moz-fit-content;
  height: fit-content;
}
.swiper_blogs .swiper-slide.blog {
  background: #ffffff;
  height: auto;
}
.swiper_blogs .swiper-slide.blog a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #303030;
  margin-bottom: auto;
  transition: 0.3s;
}
.swiper_blogs .swiper-slide.blog a .frame {
  overflow: hidden;
  margin-bottom: 1rem;
}
.swiper_blogs .swiper-slide.blog:hover a {
  color: #0094d9;
}
.swiper_blogs .swiper-slide.blog:hover img {
  transform: scale(1.1);
}
.swiper_blogs .swiper-slide.blog img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.3s;
}
.swiper_blogs .swiper-slide.blog .title {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1.2px;
}
.swiper_blogs .swiper-slide.blog .subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1.2px;
}

/* ========================= Media Queries ========================= */
/* =================== 1350px =================== */
@media screen and (max-width: 1350px) {
  .container {
    max-width: 950px;
  }
}
/* =================== 1024px =================== */
@media screen and (max-width: 1024px) {
  .container {
    max-width: 800px;
  }
  .container.blogs {
    max-width: 100%;
  }
}
/* =================== 900px =================== */
@media screen and (max-width: 900px) {
  .container {
    max-width: 700px;
  }
  .text_info_wrapper {
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.522);
    background-size: cover;
    background-position: bottom;
  }
  .text_info_wrapper .text_container {
    top: 0px;
    position: relative;
    bottom: 0;
    left: 0;
    color: white;
  }
  .text_info_wrapper .text_container .caption {
    color: #32a9e0;
    border-right: 12px solid #32a9e0;
  }
  .text_info_wrapper .text_container .descript {
    background-color: transparent;
    height: 100%;
  }
  .text_info_wrapper:hover .text_container {
    transform: scale(1);
  }
  .text_info_wrapper:hover .text_container .descript {
    border: 1px solid transparent;
  }
}
/* =================== 800px =================== */
@media screen and (max-width: 800px) {
  .container {
    max-width: 600px;
  }
}
/* =================== 680px =================== */
@media screen and (max-width: 680px) {
  .container {
    max-width: 530px;
  }
}
/* =================== 350px =================== */
@media screen and (max-width: 350px) {
  .text_info_wrapper .text_container .caption {
    height: 66px;
    margin-bottom: 0rem;
  }
  .text_info_wrapper .text_container .caption span {
    font-size: 28px;
    letter-spacing: 1px;
    margin-right: 0.5rem;
  }
  .text_info_wrapper .text_container .descript {
    padding: 0.5rem;
    line-height: 25px;
    letter-spacing: 1px;
  }
}
/* ========== About Us =========== */
.about .about_wrapper {
  min-height: 1000px;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.about .about_wrapper .card {
  display: flex;
  position: relative;
}
.about .about_wrapper .card .frame {
  line-height: 0;
  font-size: 0;
}
.about .about_wrapper .card .frame .header {
  display: none;
  font-size: 50px;
  color: #0094d9;
  border-left: 12px solid #0094d9;
  height: 66px;
  margin-bottom: 1.5rem;
  align-items: center;
  justify-content: flex-start;
}
.about .about_wrapper .card .frame .header span {
  display: block;
  margin-left: 2rem;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 2px;
}
.about .about_wrapper .card .text_container {
  position: absolute;
  max-width: 760px;
  top: 40px;
  left: 300px;
}
.about .about_wrapper .card .text_container .caption {
  color: #0094d9;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-right: 12px solid #0094d9;
  margin-bottom: 1.5rem;
}
.about .about_wrapper .card .text_container .caption span {
  display: block;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 2px;
  margin-right: 2rem;
}
.about .about_wrapper .card .text_container .descript {
  background-color: #fafafa;
  padding: 2rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1.5px;
}
.about .about_wrapper .card.second .frame {
  margin-left: auto;
  position: relative;
}
.about .about_wrapper .card.second img {
  width: 500px;
}
.about .about_wrapper .card.second .text_container {
  top: 80px;
  left: 100px;
}

/* ========== Mission =========== */
.mission .mission_wrapper {
  margin-bottom: 4rem;
}
.mission .mission_wrapper .caption {
  color: #0094d9;
  height: 96px;
  display: flex;
  align-items: center;
  border-left: 12px solid #0094d9;
  margin-bottom: 2.5rem;
}
.mission .mission_wrapper .caption span {
  display: block;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 2px;
  margin-left: 2rem;
}
.mission .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}
.mission .cards .card {
  color: #303030;
  cursor: pointer;
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
}
.mission .cards .card:not(:last-child) {
  border-right: 1px solid #dadada;
  padding-right: 2rem;
}
.mission .cards .card:hover .icon {
  transform: scale(1.03);
  border: 1px dashed #0094d9;
}
.mission .cards .card:hover img {
  transform: scale(1.1);
}
.mission .cards .card:hover .title {
  color: #0094d9;
}
.mission .cards .card:hover .text {
  color: #0094d9;
}
.mission .cards .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  background-color: #fafafa;
  border-radius: 50%;
  border: 1px dashed #dadada;
  transition: 0.3s;
}
.mission .cards .icon img {
  width: 60px;
  transition: 0.3s;
}
.mission .cards .title {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1.5px;
  margin: 1rem 0;
  transition: 0.3s;
}
.mission .cards .text {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1.5px;
  transition: 0.3s;
}

.misson .missions_container {
  display: flex;
}

@media screen and (max-width: 1350px) {
  .about .about_wrapper .card .text_container {
    top: 0px;
    max-width: 560px;
  }
  .about .about_wrapper .card.second .text_container {
    top: 40px;
    left: 0px;
  }
  .mission .cards .card {
    flex: 1 1 250px;
  }
  .mission .cards .card:not(:last-child) {
    border-right: none;
    padding-right: 0;
  }
}
@media screen and (max-width: 1024px) {
  .about .about_wrapper {
    gap: 0;
  }
  .about .about_wrapper .card {
    flex-direction: column;
  }
  .about .about_wrapper .card .frame .header {
    display: flex;
  }
  .about .about_wrapper .card .frame .header span {
    font-size: 25px;
  }
  .about .about_wrapper .card .frame img {
    width: 100%;
    height: auto;
  }
  .about .about_wrapper .card .text_container {
    position: static;
    max-width: 100%;
  }
  .about .about_wrapper .card .text_container .caption {
    margin-bottom: 0;
    margin-top: 1.5rem;
    height: 66px;
    justify-content: flex-start;
    border-left: 12px solid #0094d9;
    border-right: 0;
  }
  .about .about_wrapper .card .text_container .caption span {
    font-size: 25px;
    margin-right: 0;
    margin-left: 2rem;
  }
  .about .about_wrapper .card .text_container .descript {
    padding: 2rem 0;
    font-size: 17px;
    background-color: white;
  }
  .about .about_wrapper .card.second .frame {
    margin-left: 0;
  }
  .mission .mission_wrapper .caption {
    height: 66px;
  }
  .mission .mission_wrapper .caption span {
    font-size: 25px;
  }
}
@media screen and (max-width: 680px) {
  .mission .cards .card {
    align-items: center;
    justify-self: center;
    text-align: center;
  }
}
.services .cards {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.services .cards .card {
  display: flex;
  gap: 2rem;
}
.services .cards .frame {
  font-size: 0;
  line-height: 0;
}
.services .cards .text_container .title_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services .cards .text_container .title_wrapper .logo {
  width: 100px;
  height: 100px;
  background: #fafafa;
  border: 1px solid #dadada;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.services .cards .text_container .title_wrapper .title {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 1.5px;
  color: #0094d9;
}
.services .cards .text_container .text {
  margin-top: 2rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1.5px;
}
.services .card.left {
  flex-direction: row-reverse;
}
.services .card.left .text_container .title_wrapper {
  border-left: 12px solid #0094d9;
  padding-left: 2rem;
}
.services .card .frame {
  flex: 1 1 100%;
}
.services .card .frame img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services .card .text_container {
  flex: 1 1 100%;
}
.services .card.right .text_container {
  text-align: right;
}
.services .card.right .text_container .title_wrapper {
  border-right: 12px solid #0094d9;
  align-items: flex-end;
  padding-right: 2rem;
}

@media screen and (max-width: 1350px) {
  .services .cards .card {
    flex-direction: column;
  }
  .services .card.right .text_container {
    text-align: left;
  }
  .services .card.right .text_container .title_wrapper {
    border-right: 0;
    padding-right: 0;
    padding-left: 1.5rem;
    border-left: 12px solid #0094d9;
    align-items: flex-start;
  }
}
@keyframes animate_slider {
  from {
    transform: translateY(250px);
  }
  to {
    transform: translateY(0);
  }
}
.projects .projects_wrapper {
  margin: 4rem 0;
}
.projects .projects_wrapper .tabs_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin-bottom: 2rem;
}
.projects .projects_wrapper .tab_box {
  position: relative;
  overflow-x: scroll;
  white-space: nowrap;
}
.projects .projects_wrapper .tab_box::-webkit-scrollbar {
  width: 0;
}
.projects .projects_wrapper .tab_box .tab_btn {
  background: none;
  display: inline-block;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #303030;
  letter-spacing: 1.5px;
  transition: 0.3s;
}
.projects .projects_wrapper .tab_box .tab_btn.active {
  color: #0094d9;
}
.projects .projects_wrapper .tab_box .line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 190px;
  height: 4px;
  background-color: #0094d9;
  transition: 0.3s ease-in-out;
}
.projects .projects_wrapper .projects_container {
  display: none;
}
.projects .projects_wrapper .projects_container.show {
  display: block;
}
.projects .projects_wrapper .projects_container.show .swiper-slide {
  animation-name: animate_slider;
  animation-timing-function: ease;
}

.swiper-slide {
  margin-top: 0;
}

.projects_container.show .swiper-slide:nth-child(1) {
  animation-duration: 0.4s;
}
.projects_container.show .swiper-slide:nth-child(3) {
  animation-duration: 0.4s;
}
.projects_container.show .swiper-slide:nth-child(5) {
  animation-duration: 0.4s;
}
.projects_container.show .swiper-slide:nth-child(2) {
  animation-duration: 0.8s;
}
.projects_container.show .swiper-slide:nth-child(4) {
  animation-duration: 0.8s;
}
.projects_container.show .swiper-slide:nth-child(6) {
  animation-duration: 0.8s;
}

.projects_container .swiper-slide .card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  height: 100%;
  text-align: center;
  color: whitesmoke;
}
.projects_container .swiper-slide .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  transform: scale(1.1);
  transition: transform 1050ms cubic-bezier(0.19, 1, 0.22, 1);
}
.projects_container .swiper-slide .card::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-image: linear-gradient(to bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.009) 11.7%, hsla(0, 0%, 0%, 0.034) 22.1%, hsla(0, 0%, 0%, 0.072) 31.2%, hsla(0, 0%, 0%, 0.123) 39.4%, hsla(0, 0%, 0%, 0.182) 46.6%, hsla(0, 0%, 0%, 0.249) 53.1%, hsla(0, 0%, 0%, 0.32) 58.9%, hsla(0, 0%, 0%, 0.394) 64.3%, hsla(0, 0%, 0%, 0.468) 69.3%, hsla(0, 0%, 0%, 0.54) 74.1%, hsla(0, 0%, 0%, 0.607) 78.8%, hsla(0, 0%, 0%, 0.668) 83.6%, hsla(0, 0%, 0%, 0.721) 88.7%, hsla(0, 0%, 0%, 0.762) 94.1%, hsla(0, 0%, 0%, 0.79) 100%);
  transform: translateY(0);
  transition: transform 1400ms cubic-bezier(0.19, 1, 0.22, 1);
}
.projects_container .swiper-slide:nth-child(1) .card::before {
  background-image: url("../images/project6.jpg");
}
.projects_container .swiper-slide:nth-child(2) .card::before {
  background-image: url("../images/project5.jpg");
}
.projects_container .swiper-slide:nth-child(3) .card::before {
  background-image: url("../images/project4.jpg");
}
.projects_container .swiper-slide:nth-child(4) .card::before {
  background-image: url("../images/project3.jpg");
}
.projects_container .swiper-slide:nth-child(5) .card::before {
  background-image: url("../images/project2.jpg");
}
.projects_container .swiper-slide:nth-child(6) .card::before {
  background-image: url("../images/project1.jpg");
}
.projects_container .swiper-slide:hover .card::after {
  transform: translateY(-50%);
}
.projects_container .swiper-slide:hover .card::before {
  transform: translateY(-4%) scale(1.1);
}
.projects_container .swiper-slide:hover .text_container {
  transform: translateY(0);
}
.projects_container .swiper-slide:hover .text_container .text {
  opacity: 1;
}
.projects_container .swiper-slide .text_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 1;
  transform: translateY(calc(100% - 4.5rem));
}
.projects_container .swiper-slide .text_container .title {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}
.projects_container .swiper-slide .text_container .text {
  margin-top: 1rem;
  font-size: 1.125rem;
  line-height: 1.35;
  opacity: 0;
  transform: translateY(1rem);
  transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1), opacity 700ms cubic-bezier(0.19, 1, 0.22, 1);
}
.projects_container .swiper-slide .text_container .btn {
  margin-top: 1.5rem;
  padding: 0.75rem 2.5rem;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background-color: #0094d9;
  transition: 150ms ease-in-out;
}
.projects_container .swiper-slide .text_container .btn:hover {
  background-color: #32a9e0;
}

.projects_container.second .swiper-slide:nth-child(1) .card::before {
  background-image: url("../images/project7.jpg");
}
.projects_container.second .swiper-slide:nth-child(2) .card::before {
  background-image: url("../images/project8.jpg");
}
.projects_container.second .swiper-slide:nth-child(3) .card::before {
  background-image: url("../images/project9.jpg");
}
.projects_container.second .swiper-slide:nth-child(4) .card::before {
  background-image: url("../images/project10.jpg.avif");
}
.projects_container.second .swiper-slide:nth-child(5) .card::before {
  background-image: url("../images/project11.jpg.avif");
}
.projects_container.second .swiper-slide:nth-child(6) .card::before {
  background-image: url("../images/project12.jpg");
}

.projects_container.third .swiper-slide:nth-child(1) .card::before {
  background-image: url("../images/project13.jpg");
}
.projects_container.third .swiper-slide:nth-child(2) .card::before {
  background-image: url("../images/project8.jpg");
}
.projects_container.third .swiper-slide:nth-child(3) .card::before {
  background-image: url("../images/project14.jpg");
}
.projects_container.third .swiper-slide:nth-child(4) .card::before {
  background-image: url("../images/project10.jpg.avif");
}
.projects_container.third .swiper-slide:nth-child(5) .card::before {
  background-image: url("../images/project15.jpg");
}
.projects_container.third .swiper-slide:nth-child(6) .card::before {
  background-image: url("../images/project12.jpg");
}