@import "../scss/variables";

$timing: 700ms;
$timing_function: cubic-bezier(0.19, 1, 0.22, 1);

@keyframes animate_slider {
	from {
		transform: translateY(250px);
	}
	to {
		transform: translateY(0);
	}
}
.projects {
	.projects_wrapper {
		margin: 4rem 0;
		.tabs_wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			column-gap: 2rem;
			margin-bottom: 2rem;
		}
		.tab_box {
			position: relative;
			overflow-x: scroll;
			white-space: nowrap;
			&::-webkit-scrollbar {
				width: 0;
			}
			.tab_btn {
				background: none;
				display: inline-block;
				border: none;
				padding: 0.5rem;
				cursor: pointer;
				font-size: 18px;
				font-weight: 600;
				line-height: 24px;
				color: #303030;
				letter-spacing: 1.5px;
				transition: 0.3s;
			}
			.tab_btn.active {
				color: $primary_clr;
			}
			.line {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 190px;
				height: 4px;
				background-color: $primary_clr;
				transition: 0.3s ease-in-out;
			}
		}
		.projects_container {
			display: none;
		}
		.projects_container.show {
			display: block;
			.swiper-slide {
				animation-name: animate_slider;
				animation-timing-function: ease;
			}
		}
	}
}
.swiper-slide {
	margin-top: 0;
}
.projects_container.show {
	.swiper-slide {
		&:nth-child(1) {
			animation-duration: 0.4s;
		}
		&:nth-child(3) {
			animation-duration: 0.4s;
		}
		&:nth-child(5) {
			animation-duration: 0.4s;
		}
		&:nth-child(2) {
			animation-duration: 0.8s;
		}
		&:nth-child(4) {
			animation-duration: 0.8s;
		}
		&:nth-child(6) {
			animation-duration: 0.8s;
		}
	}
}
.projects_container {
	.swiper-slide {
		.card {
			position: relative;
			display: flex;
			align-items: flex-end;
			overflow: hidden;
			padding: 1rem;
			width: 100%;
			height: 100%;
			text-align: center;
			color: whitesmoke;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: 0 0;
				background-repeat: no-repeat;
				transform: scale(1.1);
				transition: transform calc($timing * 1.5) $timing_function;
			}
			&::after {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 200%;
				background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.009) 11.7%, hsla(0, 0%, 0%, 0.034) 22.1%, hsla(0, 0%, 0%, 0.072) 31.2%, hsla(0, 0%, 0%, 0.123) 39.4%, hsla(0, 0%, 0%, 0.182) 46.6%, hsla(0, 0%, 0%, 0.249) 53.1%, hsla(0, 0%, 0%, 0.32) 58.9%, hsla(0, 0%, 0%, 0.394) 64.3%, hsla(0, 0%, 0%, 0.468) 69.3%, hsla(0, 0%, 0%, 0.54) 74.1%, hsla(0, 0%, 0%, 0.607) 78.8%, hsla(0, 0%, 0%, 0.668) 83.6%, hsla(0, 0%, 0%, 0.721) 88.7%, hsla(0, 0%, 0%, 0.762) 94.1%, hsla(0, 0%, 0%, 0.79) 100% );
				transform: translateY(0);
				transition: transform calc($timing * 2) $timing_function;
			}
		}
		&:nth-child(1) {
			.card {
				&::before {
					background-image: url("../images/project6.jpg");
				}
			}
		}
		&:nth-child(2) {
			.card {
				&::before {
					background-image: url("../images/project5.jpg");
				}
			}
		}
		&:nth-child(3) {
			.card {
				&::before {
					background-image: url("../images/project4.jpg");
				}
			}
		}
		&:nth-child(4) {
			.card {
				&::before {
					background-image: url("../images/project3.jpg");
				}
			}
		}
		&:nth-child(5) {
			.card {
				&::before {
					background-image: url("../images/project2.jpg");
				}
			}
		}
		&:nth-child(6) {
			.card {
				&::before {
					background-image: url("../images/project1.jpg");
				}
			}
		}
		&:hover {
			.card {
				&::after {
					transform: translateY(-50%);
				}
				&::before {
					transform: translateY(-4%) scale(1.1);
				}
			}
			.text_container {
				transform: translateY(0);
				.text {
					opacity: 1;
				}
			}
		}
		.text_container {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			padding: 1rem;
			transition: transform $timing $timing_function;
			z-index: 1;
			transform: translateY(calc(100% - 4.5rem));
			.title {
				margin-top: 1rem;
				font-size: 1.3rem;
				font-weight: bold;
				line-height: 1.2;
			}
			.text {
				margin-top: 1rem;
				font-size: 1.125rem;
				line-height: 1.35;
				opacity: 0;
				transform: translateY(1rem);
				transition: transform $timing $timing_function, opacity $timing $timing_function;
			}
			.btn {
				margin-top: 1.5rem;
				padding: 0.75rem 2.5rem;
				border-radius: 6px;
				font-size: 16px;
				font-weight: 500;
				letter-spacing: 1.5px;
				color: white;
				border: none;
				cursor: pointer;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 2rem;
				background-color: $primary_clr;
				transition: 150ms ease-in-out;
				&:hover {
					background-color: $primary_clr_light;
				}
			}
		}
	}
}

.projects_container.second {
    .swiper-slide {
        &:nth-child(1) {
			.card {
				&::before {
					background-image: url("../images/project7.jpg");
				}
			}
		}
		&:nth-child(2) {
			.card {
				&::before {
					background-image: url("../images/project8.jpg");
				}
			}
		}
		&:nth-child(3) {
			.card {
				&::before {
					background-image: url("../images/project9.jpg");
				}
			}
		}
		&:nth-child(4) {
			.card {
				&::before {
					background-image: url("../images/project10.jpg.avif");
				}
			}
		}
		&:nth-child(5) {
			.card {
				&::before {
					background-image: url("../images/project11.jpg.avif");
				}
			}
		}
		&:nth-child(6) {
			.card {
				&::before {
					background-image: url("../images/project12.jpg");
				}
			}
		}
    }
}

.projects_container.third {
    .swiper-slide {
        &:nth-child(1) {
			.card {
				&::before {
					background-image: url("../images/project13.jpg");
				}
			}
		}
		&:nth-child(2) {
			.card {
				&::before {
					background-image: url("../images/project8.jpg");
				}
			}
		}
		&:nth-child(3) {
			.card {
				&::before {
					background-image: url("../images/project14.jpg");
				}
			}
		}
		&:nth-child(4) {
			.card {
				&::before {
					background-image: url("../images/project10.jpg.avif");
				}
			}
		}
		&:nth-child(5) {
			.card {
				&::before {
					background-image: url("../images/project15.jpg");
				}
			}
		}
		&:nth-child(6) {
			.card {
				&::before {
					background-image: url("../images/project12.jpg");
				}
			}
		}
    }
}