.contact .contact_wrapper {
  margin: 4rem 0;
}

.contact .contact_wrapper {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.contact .contact_wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact .contact_wrapper form,
.contact .contact_wrapper .frame {
  flex: 1 1 100%;
}

.contact .contact_wrapper form .title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 1.5px;
  margin-bottom: 2rem;
}

.contact .contact_wrapper form input,
.contact .contact_wrapper form textarea {
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
  background-color: #f7f6f6;
}

.contact .contact_wrapper form .btn {
  height: 52px;
  background-color: #0094d9;
  border: none;
  font-size: 14px;
  color: white;
  line-height: 16px;
  letter-spacing: 1.5px;
  transition: 0.3s;
  cursor: pointer;
}

.contact .contact_wrapper form .btn:hover {
  background-color: #32a9e0;
}

.contact .contact_wrapper .frame {
  font-size: 0;
  line-height: 0;
}

.contact .contact_wrapper .frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .contact .contact_wrapper {
    flex-direction: column;
  }
}
